@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

body {
  padding: 5% 10%;
  font-size: 2rem;
  font-family: "Roboto", sans-serif;
}

ol{
  list-style-type: lower-alpha;

  text-align: center;
  list-style-position: outside;
}

ol li:nth-child(2){
  color: red;
}

ol ::marker{
  color: red;
  font-weight: bold;
  content: "only $5>>";
}

ul{
  list-style-image: url('../images/checkmark.png') ;
}