@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


body {
  font-size: 2rem;
  font-family: "Roboto", sans-serif;
}

/* styling the span or inline element and also respecting the 
paragraph which is a block element. it wouldnt do so if we
didnt convert the display property to inline-block*/

.opposite{
  display: inline-block;
  background-color: #333;
  color: whitesmoke ;
  margin: 10px;
  height: 20px;
  padding: 3rem;
}

p{
  background-color: lightgray;
}

/* making a list to become a span or inline element  a row*/

ul{
  list-style-type: none;
  padding: 0.5rem;
  text-align: right;
  background-color: black;
  margin: 0;
}

li a{
  text-decoration: none;
  color: white;
}

li{
  display: inline-block;
  /* applying margin to right and left only */
  margin-inline:0.5rem ;

}

li a:hover,li a:focus{
  text-decoration: underline;
  
}